
@{
    ViewData["Title"] = "About";
}

@section Top{
    <h1>This is my website</h1>
    <p>It is the best website</p>
}
@section Body{
    <h1>This is the about body</h1>
    <p>There should be identifying info here</p>
}​

